.idea/
__pycache__/

diagrams/

.resources/
.cache/
results/
results_expired/
logs_expired/
checkpoints/
evaluation_old/

*.ipynb

*.sbatch
*.sh
*.pkl
test.py
*.pdf

pdfs/
logs/
scripts/

export_to_csv.py
